In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import scipy.stats as st

In [4]:
import numpy as np

In [5]:
from sklearn import datasets

In [11]:

# x_data=np.arange(0,5, 0.8) 
# x_data

# CREATE A LIST WITH INFO TO CREATE A DF
names=["John", "Paul", "George", "Ringo"]
instruments=["Vocals", "Bass", "Guitar", "Drums"]

In [12]:
# ex=[np.exp(each_element) for each_element in x_data]
# ex

# CREATE SERIES THAT REFERENCE TO THAT LISTS
beatle_names=pd.Series(names)
beatle_instruments=pd.Series(instruments)

print(beatle_names)
print(beatle_instruments)

0      John
1      Paul
2    George
3     Ringo
dtype: object
0    Vocals
1      Bass
2    Guitar
3     Drums
dtype: object

In [14]:
# print(type(ex))

# CREATE DATA FRAME FROM SERIES
my_table=pd.DataFrame({"Names of each Beatle": beatle_names, "Instrument of each Beatle": beatle_instruments})
my_table

  Names of each Beatle Instrument of each Beatle
0                 John                    Vocals
1                 Paul                      Bass
2               George                    Guitar
3                Ringo                     Drums

In [15]:
# sin=np.sin(ex)
# sin
# cos =np.cos(ex)
# cos

# YOU CAN ALSO CREATE DATA FRAME FROM LISTS, SO LETS USE THE LISTS USED TO CREATE THE SERIES
my_table_list=pd.DataFrame({"Names of each Beatle":names,"Instrument of each Beatle": instruments})
my_table_list

  Names of each Beatle Instrument of each Beatle
0                 John                    Vocals
1                 Paul                      Bass
2               George                    Guitar
3                Ringo                     Drums

In [18]:
# A mayor cantidad de datos, la línea de la función plot, se vuelve más suavizada.
# plt.plot(ex, sin)
# plt.plot(ex, cos)

# plt.show()

# AND ANOTHER WAY TO CREATE A DF IS USING A DICTIONARIE
beatles_dict=({"Name":"John", "Instrument":"Vocals", "Songs":"30"}, 
            {"Name":"Paul", "Instrument":"Bass", "Songs":"21"},
            {"Name":"George", "Instrument":"Guitar", "Songs":"10"},
            {"Name":"Ringo", "Instrument":"Drums", "Songs":"3"})

my_table_dict=pd.DataFrame(beatles_dict)
my_table_dict

     Name Instrument Songs
0    John     Vocals    30
1    Paul       Bass    21
2  George     Guitar    10
3   Ringo      Drums     3